<div class="panel panel-default ">
	<div class="alert alert-success">
		<span class="lead"> Phân mục Nhà cung cấp </span>
	</div>
	<div class="panel-body ">
		<div class="alert alert-info">
			<ul>
				<li>Vui lòng click vào nút <strong>Thêm mới</strong> để thêm mới.
				</li>
				<li>Vui lòng click vào nút <strong>Danh sách</strong> liệt kê toàn bộ Sản phẩm hiện có.
				</li>
				<li>Quy định <strong>AAA</strong> quy định mới về ...
				</li>
				<li>Hướng dẫn <strong>BBB</strong> quy định mới về ...
				</li>
				<li>Ghi chú <strong>CCC</strong> quy định mới về ...
				</li>
			</ul>
		</div>
		
	</div>
	
</div>