<div class="panel panel-default">
	<div class="alert alert-info">
		<span class="lead">Thêm mới</span>
		<p>Thêm mới Giá</p>
	</div>
	<div class="panel-body ">
		<form data-enter-to-tab class="form-horizontal">
			<div class="col-md-offset-8 alert alert-danger" role="alert" style="position:fixed"
				data-uib-alert data-ng-if="alert.errorMessage" 
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.errorMessage}}
			</div>
			<div class="col-md-offset-8 alert alert-success" role="alert" style="position:fixed;"
				data-uib-alert data-ng-if="alert.message"
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.message}}
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="product_id"> Mã sản phẩm </label>
					<div class="col-md-5 form-group-sm">
						<ui-select data-ng-model="product.selected" data-theme="bootstrap" data-title="Chọn nhà cung cấp">
						    <ui-select-match data-placeholder="Chọn sản phẩm ...">
						      	{{product.selected.id + ' --- ' + product.selected.name}}
						    </ui-select-match>
						    <ui-select-choices data-repeat="item in products | propsFilter: {id: $select.search, name: $select.search} | limitTo: 10">
						        <span data-ng-bind-html="'[#' + item.id + ']' | highlight: $select.search"></span> 
						        <small>
						          	<span data-ng-bind-html="'' + item.name | highlight: $select.search"></span>
						        </small>
						    </ui-select-choices>
					    </ui-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="cate"> Loại giá </label>
					<div class="col-md-5">
						<select data-ng-model="price.cate" id="cate" required="required"
							class="form-control input-sm">
							<option value="">Chọn loại giá</option>
        					<option>Giá chuẩn</option>
        					<option>Giá khuyến mãi</option>
        					<option>Hàng tặng kèm</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="price"> Giá (VND) </label>
					<div class="col-md-3">
						<input type="number" data-ng-model="price.price" id="price" required="required"
							class="form-control input-sm" placeholder="Nhập giá" />
					</div>
					<div class="col-md-2">
						<span class="label label-success label-large" style="font-size:17px;">{{price.price | currency:"":0}} VND</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-actions col-md-offset-2">
					<button type="button" data-ng-click="submitPriceForm()" class="btn btn-primary btn-sm">
						Thêm mới
					</button>
					<button type="button" data-ng-click="resetForm()" class="btn btn-warning btn-sm">
						Reset Form
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
	