
<nav class="navbar navbar-default">
	<a data-ng-model="radioModel" data-uib-btn-radio="'Left'" data-uib-uncheckable  
		href="#/home-customer" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-book"></span> Hướng dẫn
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Middle'" data-uib-uncheckable  
		href="#/add-customer" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-plus-sign"></span> Thêm mới
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Right'" data-uib-uncheckable
		href="#/list-customer" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-list-alt"></span> Danh sách
	</a>
</nav>

<div data-ng-view></div>