
<nav class="navbar navbar-default">
	<a data-ng-model="radioModel" data-uib-btn-radio="'Left'" data-uib-uncheckable  
		href="#/home-product" role="button" class="btn btn-default navbar-btn">Hướng dẫn
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Middle'" data-uib-uncheckable  
		href="#/add-product" role="button" class="btn btn-default navbar-btn">Thêm mới
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Right'" data-uib-uncheckable
		href="#/list-product" role="button" class="btn btn-default navbar-btn">Danh sách
	</a>
</nav>

<div data-ng-view></div>