
<nav class="navbar navbar-default">
	<a data-ng-model="radioModel" data-uib-btn-radio="'Left'" data-uib-uncheckable  
		href="#/home-provider" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-book"></span> Hướng dẫn
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Middle'" data-uib-uncheckable  
		href="#/add-provider" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-plus-sign"></span> Thêm mới
	</a>
	<a data-ng-model="radioModel" data-uib-btn-radio="'Right'" data-uib-uncheckable
		href="#/list-provider" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-list-alt"></span> Danh sách
	</a>
	<!-- 
	<a data-ng-model="radioModel" data-uib-btn-radio="'More'" data-uib-uncheckable
		href="#/list-price" role="button" class="btn btn-default navbar-btn">
		<span class="glyphicon glyphicon-list-alt"></span> More ...
	</a>
	 -->
</nav>

<div data-ng-view></div>