<div class="panel panel-default">
	<div class="alert alert-info">
		<span class="lead">Thêm mới</span>
		<p>Thêm mới Đơn hàng</p>
	</div>
	<div class="panel-body ">
		<form data-enter-to-tab class="form-horizontal">
			<div class="col-md-offset-6 alert alert-danger" role="alert" style="position:fixed"
				data-uib-alert data-ng-if="alert.errorMessage" 
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.errorMessage}}
			</div>
			<div class="col-md-offset-6 alert alert-success" role="alert" style="position:fixed"
				data-uib-alert data-ng-if="alert.message"
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.message}}
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="customer_id"> Khách hàng </label>
					<div class="col-md-5 form-group-sm">
						[#{{invoice.customer_id}}]  {{invoice.customerName}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="discount"> Tiền giảm </label>
					<div class="col-md-3">
						<input type="number" data-ng-model="invoice.discount" id="discount"
							class="form-control input-sm" placeholder="Nhập tiền giảm" />
					</div>
					<div class="col-md-2">
						<span class="label label-success label-large" style="font-size:17px;">{{invoice.discount | currency:"":0}} VND</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12">
					<label class="col-md-2" for="giveaway_id"> Tặng phẩm </label>
					<div class="col-md-5 form-group-sm">
						<ui-select data-ng-model="giveaway.selected" data-theme="bootstrap" data-title="Chọn chương trình">
						    <ui-select-match data-placeholder="Chọn chương trình tặng phẩm trong danh sách ...">
						      	{{giveaway.selected.id}} --- {{giveaway.selected.givename}}
						    </ui-select-match>
						    <ui-select-choices data-repeat="item in giveaways | propsFilter: {id: $select.search, givename: $select.search} | limitTo: 10">
						        <span data-ng-bind-html="item.id | highlight: $select.search"></span> 
						        <small>
						          <span data-ng-bind-html="'' + item.givename | highlight: $select.search"></span>
						        </small>
						    </ui-select-choices>
					    </ui-select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-actions col-md-offset-2">
					<button type="button" data-ng-click="addInvoiceDetail()" class="btn btn-success btn-sm">
						Thêm đơn hàng và Chi tiết
					</button>
					<button type="button" data-ng-click="submitInvoiceForm()" class="btn btn-primary btn-sm">
						Thêm đơn hàng
					</button>
					<button type="button" data-ng-click="resetForm()" class="btn btn-warning btn-sm">
						Reset Form
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
	