<div class="panel panel-default">
	<div class="alert alert-info">
		<span class="lead">Cập nhật đơn hàng</span> 
		<span class="label label-primary">{{invoice_id}}</span>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
		  	<div class="col-md-offset-6 alert alert-danger" role="alert" style="position:fixed"
				data-uib-alert data-ng-if="alert.errorMessage" 
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.errorMessage}}
			</div>
			<div class="col-md-offset-6 col-md-4 alert alert-success" role="alert" style="position:fixed;"
				data-uib-alert data-ng-if="alert.message"
				data-close="closeAlert()" data-dismiss-on-timeout="3000">
				{{alert.message}}
			</div>
			<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default" style="padding: 5px">
					<h4>Thông tin Đơn hàng</h4>
					<div class="form-group">
						<label class="col-md-8"> Mã khách hàng </label>
						<div class="col-md-4">
							<span class="label label-success">{{invoice.customer_id}}</span>
						</div>
						<div class="col-md-12"  style="margin-bottom: 5px">
							<span class="label label-info">{{invoice.customerName}}</span>
						</div>
						<div class="col-md-12 form-group-sm">
							<ui-select data-ng-model="customer.selected" data-theme="bootstrap" 
									   data-on-select="onSelected($item)" data-title="Chọn khách hàng">
							    <ui-select-match data-placeholder="Chọn lại khách hàng ...">
							      	{{customer.selected.id}} -- {{customer.selected.name}}
							    </ui-select-match>
							    <ui-select-choices data-repeat="item in customers | propsFilter: {id: $select.search, name: $select.search} | limitTo: 10">
							        <span data-ng-bind-html="item.id | highlight: $select.search"></span> 
							        <small>
							          	<span data-ng-bind-html="'' + item.name | highlight: $select.search"></span>
							        </small>
							    </ui-select-choices>
						    </ui-select>
						</div>
					</div>
					<div class="form-group">
				      	<label class="col-md-6"> Ngày bán </label>
				      	<div class="col-md-6">
							<span class="label label-success">{{invoice.saledate | date:'dd/MM/yyyy'}}</span>
						</div>
				    </div>
				    <div>
					    <div class="form-actions">
							<button type="button" data-ng-click="submitInvoiceForm()" class="btn btn-primary btn-sm">
								Lưu
							</button>
							<button type="button" data-ng-click="resetForm()" class="btn btn-warning btn-sm">
								Hủy bỏ
							</button>
						</div>
					</div>
				</div>
			</div>
		  	<div class="col-md-1"></div>
			<div class="col-md-8">
				<h4>Chi tiết Đơn hàng</h4>
			  	<table class="table table-hover table-condensed">
	                <thead>
	                    <tr>
	                        <th>Mã sản phẩm</th>
	                        <th>Tên sản phẩm</th>
	                        <th class="text-right">Đơn giá</th>
	                        <th class="text-right">Số lượng</th>
	                        <th class="text-right">Thành tiền</th>
	                        <th>Xóa</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr data-ng-repeat="detail in saleProducts">
	                        <td>{{detail.product_id}}</td>
	                        <td>{{detail.productName}}</td>
	                        <td class="text-right">{{detail.product_price | currency:"":0}}</td>
	                        <td class="text-right">{{detail.quantity}}</td>
	                        <td class="text-right">{{detail.amount | currency:"":0}}</td>
	                        <td title="'Xóa'" >
								<button data-uib-popover-template="'myPopoverTemplate.html'" 
									data-popover-trigger="'outsideClick'" data-popover-title="Xác nhận?" 
									type="button" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								<script type="text/ng-template" id="myPopoverTemplate.html">
          						<button type="button" ng-click="deleteDetail(detail.id)"
									class="btn btn-danger btn-sm">Xóa
								</button>
    						</script>
							</td>	
	                    </tr>
	                </tbody>
	                <tfoot>
					    <tr>
					    	<td></td>
					    	<td>
					    		<div data-ng-controller="ModalDemoCtrl as pc" class="modal-demo">
							        <button type="button" class="btn btn-primary" data-ng-click="pc.open('lg')">
							        	<span class="glyphicon glyphicon-print"></span> In đơn hàng
							        </button>
							    </div>
					    	</td>
					    	<td></td>
					    	<td><strong>TỔNG TIỀN</strong></td>
					      	<td class="text-right"><strong>{{invoice.total | currency:"":0}}</strong></td>
					      	<td></td>
					    </tr>
					</tfoot>
	            </table>
            </div>
            </div>
			<hr/>
			<div class="alert alert-info" role="alert">
				<div class="row">
					<div class="col-md-4 form-group-sm">
						<div class="col-md-11">
							<ui-select data-ng-model="product.selected" data-on-select="selectProduct($item)"
										data-theme="bootstrap" data-title="Chọn sản phẩm">
							    <ui-select-match data-placeholder="Chọn sản phẩm trong danh sách dưới đây ...">
							      	{{product.selected.id}} --- {{product.selected.name}}
							    </ui-select-match>
							    <ui-select-choices data-repeat="item in products | propsFilter: {id: $select.search, name: $select.search} | limitTo: 10">
							        <span data-ng-bind-html="item.id | highlight: $select.search"></span> 
							        <small>
							          	<span data-ng-bind-html="'' + item.name | highlight: $select.search"></span>
							        </small>
							    </ui-select-choices>
						    </ui-select>
						</div>
					</div>
					<div class="form-group col-md-3">
						<div class="col-md-12">
							<select data-ng-model="price" class="form-control input-sm">
								<option disabled value="">Chọn giá</option>
								<option data-ng-repeat="option in prices" value="{{option.price}}">
									{{option.cate + ': '}} {{option.price | currency:'':0}}
								</option>
							</select>
						</div>
					</div>
					<div class="form-group col-md-2">
						<div class="col-md-11">
							<input type="text" data-ng-model="quantity" id="quantity" required="required"
								class="form-control input-sm" placeholder="Số lượng" />
						</div>
					</div>
					<div class="form-group col-md-2">
						<div class="col-md-11">
							<label>{{price*quantity | currency:"":0}}</label>
						</div>
					</div>
					<div class="form-group col-md-1">
						<button type="button" class="btn btn-success btn-sm"
								data-ng-click="addProductToList({
									'invoice_id': invoice_id,
									'product_id': product.selected.id, 
									'product_price': price, 
									'quantity': quantity})" >
							Thêm
						</button>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>
	