<div class="panel panel-default ">
	<div class="alert alert-success">
		<span class="lead"> Phân mục Đơn hàng </span>
	</div>
	<div class="panel-body ">
		<div class="alert alert-info">
			<ul>
				<li>Vui lòng click vào nút <strong>Thêm mới</strong> để vào giao diện thêm một đơn hàng mới.
				</li>
				<li>Sau đó bạn có thể click vào nút <strong>Danh sách</strong> để vào giao diện liệt kê tất cả các đơn hàng.
				Từ đó có thể tìm đơn hàng, vào nút <strong>Sửa</strong> để thay đổi thông tin một đơn hàng. 
				</li>
				<li>Hoặc bạn có thể click vào nút <strong>Thêm chi tiết</strong> để vừa thêm đơn hàng mới, 
				vừa thêm chi tiết các sản phẩm được bán cho đơn hàng này.
				</li>
			</ul>
		</div>
		
	</div>
	
</div>