<div class="panel panel-default ">
	<div class="alert alert-info">
		<div class="row">
			<div class="col-md-5">
				<span class="lead">Danh sách đơn hàng</span>
				<p>Lọc <span class="badge">{{vm.tableParams.total()}}</span>
				trong tổng số <span class="badge">{{vm.countAll}}</span></p>				  
			</div>
			<div class="col-md-3">
		      	<label class="col-md-2"> Từ </label>
		      	<div class="col-md-10 form-group-sm">
			        <div class="input-group">
			          	<input type="text" class="form-control" 
			          		 data-uib-datepicker-popup="{{format}}" data-ng-model="fromdate" 
			          		 data-is-open="popup1.opened" data-datepicker-options="dateOptions" 
			          		 data-ng-required="true" data-close-text="Close" />
			          	<span class="input-group-btn">
				            <button type="button" class="btn btn-default" data-ng-click="open1()">
				            	<i class="glyphicon glyphicon-calendar"></i>
				            </button>
			          </span>
			        </div>
			     </div>
			</div>
			<div class="col-md-3">
		      	<label class="col-md-2"> Đến </label>
		      	<div class="col-md-10 form-group-sm">
			        <div class="input-group">
			          	<input type="text" class="form-control" 
			          		 data-uib-datepicker-popup="{{format}}" data-ng-model="tilldate" 
			          		 data-is-open="popup2.opened" data-datepicker-options="dateOptions" 
			          		 data-ng-required="true" data-close-text="Close" />
			          	<span class="input-group-btn">
				            <button type="button" class="btn btn-default" data-ng-click="open2()">
				            	<i class="glyphicon glyphicon-calendar"></i>
				            </button>
			          </span>
			        </div>
			     </div>
			</div>
			<button type="button" data-ng-click="searchInvoice()" class="btn btn-primary btn-sm">
				<i class="glyphicon glyphicon-search"></i>
				Tìm
			</button>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed"
					data-ng-table="vm.tableParams" data-show-filter="true">
				
				<tr data-ng-repeat="invoice in $data | orderBy: '-saledate' ">
					<td title="'Mã đơn hàng'" data-filter="{id: 'number'}" data-sortable="'id'">{{invoice.id}}</td>
					<td title="'Mã khách hàng'" data-filter="{customer_id: 'text'}">{{invoice.customer_id}}</td>
					<td title="'Tên khách hàng'" data-filter="{customerName: 'text'}">{{invoice.customerName}}</td>
					<td title="'Địa chỉ'" data-filter="{customerAddress: 'text'}" style="width: 30%">{{invoice.customerAddress}}</td>
					<td title="'Ngày bán'" data-filter="{saledate: 'text'}">{{invoice.saledate | date:'dd/MM/yyyy'}}</td>
					<td title="'Tổng tiền'" class="text-right">
						<strong>{{invoice.total | currency:"":0}}</strong>
					</td>
					<td title="'Giảm'" class="text-right">
						{{invoice.discount | currency:"":0}}
					</td>
					<td title="'Tặng phẩm'" data-filter="{giveaway_id: 'text'}">{{invoice.giveaway_id}}</td>
					<td title="'Nợ đơn'" class="text-right">
						<i>{{invoice.debt | currency:"":0}}</i>
					</td>
					<td title="'Chi tiết'" >
						<button type="button" data-ng-click="editDetailInvoice(invoice.id)"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</td>
					<td title="'Sửa'" >
						<button type="button" data-ng-click="editInvoice(invoice.id)"
							class="btn btn-warning btn-sm">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</td>
					<td title="'Xóa'" >
						<button data-uib-popover-template="'myPopoverTemplate.html'" 
							data-popover-trigger="'outsideClick'" data-popover-title="Xác nhận?" 
							type="button" class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<script type="text/ng-template" id="myPopoverTemplate.html">
          					<button type="button" ng-click="deleteInvoice(invoice.id)"
									class="btn btn-danger btn-sm">Xóa
							</button>
    					</script>
					</td>				
				</tr>
				
			</table>
		</div>
	</div>
</div>