<div class="panel panel-default ">
	<div class="alert alert-info">
		<div class="row">
			<div class="col-md-6">
				<span class="lead">Danh sách chương trình tặng phẩm</span>
				<p>Lọc <span class="badge">{{vm.tableParams.total()}}</span>
				trong tổng số <span class="badge">{{vm.countAll}}</span></p>				  
			</div>
			<div class="col-md-3">
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed"
					data-ng-table="vm.tableParams" data-show-filter="true">
				
				<tr data-ng-repeat="giveaway in $data">
					<td title="'Mã'" data-filter="{id: 'text'}">{{giveaway.id}}</td>
					<td title="'Tên chương trình'" data-filter="{name: 'text'}">{{giveaway.givename}}</td>
					<td title="'Nội dung tặng phẩm'" data-filter="{address: 'text'}" style="width: 60%">{{giveaway.givecontent}}</td>
					<td title="'Sửa'" >
						<button type="button" data-ng-click="editGiveaway(giveaway.id)"
							class="btn btn-primary btn-sm">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
					</td>
					<td title="'Xóa'" >
						<button data-uib-popover-template="'myPopoverTemplate.html'" 
							data-popover-trigger="'outsideClick'" data-popover-title="Xác nhận?" 
							type="button" class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<script type="text/ng-template" id="myPopoverTemplate.html">
          					<button type="button" ng-click="deleteGiveaway(giveaway.id)"
									class="btn btn-danger btn-sm">Xóa
							</button>
    					</script>
					</td>					
				</tr>
				
			</table>
		</div>
	</div>
</div>