<div class="panel panel-default ">
	<div class="alert alert-success">
		<span class="lead"> Phân mục Nhân sự </span>
	</div>
	<div class="panel-body ">
		<div class="alert alert-info">
			<ul>
				<li>Vui lòng click vào nút <strong>Thêm mới</strong> để thêm mới.
				</li>
				<li>Vui lòng click vào nút <strong>Danh sách</strong> liệt kê toàn bộ nhân sự hiện có.
				</li>
				<li>Quy định <strong>AAA</strong> quy định mới về ...
				</li>
				<li>Hướng dẫn <strong>BBB</strong> quy định mới về ...
				</li>
				<li>Ghi chú <strong>CCC</strong> quy định mới về ...
				</li>
			</ul>
		</div>
		<div data-ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
			<script type="text/ng-template" id="myModalContent.html">
        		<div class="modal-header">
            		<h3 class="modal-title" id="modal-title">Báo cáo</h3>
        		</div>
        		<div class="modal-body" id="modal-body">
            		<div>
						<object data="/pdf/ccdc" type="application/pdf" width="98%" height="400">
							<a href="/pdf/ccdc">test.pdf</a>
						</object>
					</div>
        		</div>
        		<div class="modal-footer">
            		<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        		</div>
    		</script>
    		<button type="button" class="btn btn-default pull-right" 
    			data-ng-click="$ctrl.open('lg')">Open Report!</button>
		</div>
		
	</div>
	
</div>